{% extends "base.html" %}

{% block content %}
{% for item in jobs%}
<h2> Работа № {{loop.index}}  </h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Название работы</th>
      <th scope="col">фамилия и имя ответственного</th>
      <th scope="col">продолжительность в часах</th>
      <th scope="col">список id команды</th>
      <th scope="col">завершена или нет</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ item.job }}</td>
      <td>{{ item.user.name }} {{ item.user.surname }}</td>
      <td>{{ item.work_size }}</td>
      <td>{{ item.collaborators }}</td>
      {% if item.is_finished %}
      <td>end</td>
      {% else %}
      <td>not end</td>
      {% endif %}
    </tr>
  </tbody>
</table>
{% endfor %}
{% endblock %}